.card {
   flex-wrap: wrap;
    margin:auto;
    justify-content: space-between;
    padding: 1rem;
    width: 18%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
  }